<div class="form-login mx-auto">
  <div class="form-login-header">
    ADMIN
  </div>
  <div class="form-login-body">
    <%= form_with url: admin_login_path, method: :post do %>
      <div class="mb-3">
        <%= label_tag :email, "Email", class: "form-label" %>
        <%= text_field_tag :email, nil, class: "form-control  #{'is-invalid' if flash[:errors]&.dig(:email)}", placeholder: "Nhập Email" %>
        <% if flash[:errors]&.dig(:email) %>
          <span class="text-danger d-block"><%= flash[:errors][:email] %></span>
        <% end %>
      </div>

      <div class="mb-3">
        <%= label_tag :password, "Mật khẩu", class: "form-label" %>
        <%= password_field_tag :password, nil,  class: "form-control  #{'is-invalid' if flash[:errors]&.dig(:password)}", placeholder: "Nhập password" %>
        <% if flash[:errors]&.dig(:password) %>
          <span class="text-danger d-block"><%= flash[:errors][:password] %></span>
        <% end %>
      </div>
      <%= flash[:alert] %>

      <%= submit_tag "Đăng nhập", class: "btn btn-primary d-block mx-auto" %>
    <% end %>
  </div>
  
</div>