<div class="window-wrapper" data-controller="lotto">
  <div class="spin">
    <div class="rig" data-lotto-target="rig">
      <div class="machine" data-lotto-target="machine">
        <div class="frame"></div>
        <div class="cage">
          <div class="glass"></div>
          <div class="balls" data-lotto-target="balls"></div>
        </div>
      </div>
    </div>
    <div class="prize">
      <div class="prize-lable">Giải Thưởng</div>
      <div class="prize-name" data-lotto-target="prizeLabel" ><%= @prizeNext.name + " - " + @prizeNext.description %></div>
    </div>
  </div>
  <div class="result mt-5">
    <div class="result-header">Danh sách trúng thưởng</div>
    <div class="result-content" data-lotto-target="resultRandomNUmber">
      <% @results.each do |result| %>
        <div class="card card-winner card-winner-<%= result.prize_id %>">
          <div class="card-winner-number"><%= result.select_number.number %></div>
          <div class="card-winner-user-name"><%= result.user.full_name %></div>
          <div class="card-winner-prize"><%= result.prize.name + " - " + result.prize.description %></div>
        </div>
      <% end %>
    </div>

  </div>

</div>
<%= link_to "Chọn số", user_select_number_path,  class: "btn btn-primary mt-3 " %>