<% content_for :title, t("users.select_number.title")  %>
<div data-controller="giftbox">
  <div class="text-header"><%= t("users.select_number.title") %></div>
  <div class="gift-grid mt-5">
    <% @numbers.each do |num| %>
      <%
        if @user_number
          disabled = @user_number.number != num
          selected = @user_number.number == num
        else
          disabled = @selected_numbers.include?(num)
          selected = false
        end
        action_attr = (!disabled && !selected) ? { "data-action": "click->giftbox#select" } : {}
      %>

      <button
        type="button"
        class="gift-box <%= 'disabled' if disabled %> <%= 'selected-number' if selected %>"
        <%= 'disabled' if disabled %>
        data-giftbox-target="box"
        data-number="<%= num %>"
        <%= tag.attributes(action_attr) %>
      >
        <span class="gift-number"><%= num %></span>
      </button>
    <% end %>
  </div>
  <% unless @user_number %>
    <button
      type="button"
      data-action="click->giftbox#submit"
      data-giftbox-target="submitButton"
      class="btn btn-primary mt-3">
      <%= t("users.select_number.btn_select") %>
    </button>
  <% end %>
  <%= link_to t("users.select_number.btn_random_number"), user_results_path,
              class: "btn btn-primary mt-3  #{ @user_number ? '' : 'd-none' }",
              data: { giftbox_target: "btnResult" } %>

</div>



